
        body {
            background-color: #92A9BD
        }
        hr {
            
            border-color: grey;
            border-width: 5px;
            border-radius: 0;
            border-style: none none none;
            border-top-style: dotted;
            border-width: 5px;
            line-height: 0;
            width: 10%;
           
        }

        h1{
            color: #03045E;
        }
h3{
    color: #03045E;
}